@import "../../styles/colors.scss";

.cart-icon {
  position: relative;

  &__length {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: $primary;
    position: absolute;
    top: -14px;
    right: -14px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;

    &-active {
      display: flex;
    }
  }
}
